@media screen and (min-width: 320px) {

    .main_wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (min-width: 850px) {

    .main_wrap {
        flex-direction: row-reverse;
        align-items: normal;
    }
}